.clock-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 7px grey;
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 254, 254);
   

}

.current-day {
    position: absolute;
    top: 3px;
    left: 8px;
    font-size: medium;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.clock-timer {
    display: flex;
    font-size: 30px;
    align-items: center;
    margin-top: 10px;

}

.clock-input {
    text-align: center;
    font-weight: bold;
    width: 70px;
    height: 40px;
    margin: 10px;
    padding-top: 8px;
    border-radius: 10px;
    border: none;
    background-color: rgb(234, 232, 232);
}

.clock-seperater {
    font-size: 40px;
    font-weight: bold;
}

.shift-timing {
    margin-top: 10px;
}

.btn-clock {
    font-size: 20px;
    padding: 8px 4px;
    margin: 20px;
    border-radius: 5px;
    width: 250px;
    border: none;
    background-color: rgb(74, 178, 74);
    color: white;
}

.home-card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    flex-wrap: wrap;

}

.home-card-container-item {
    width: 180px;
    border: 3px double #666633;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #e5e5cc;
}

.home-card-img {
    height: 110px;
    display: block;
    justify-content: center;
    margin-left: 34px;

}

.home-card-container-item h3 {
    display: block;
    text-align: center;
    color:#07363c;
    font-size: 28px;
}

.btn-view-all {
    display: block;
    margin: 12px auto;
    color: white;
    font-size: 15px;
    border: none;
    background-color: #07363c;
    border-radius: 10px;
    padding: 4px 10px;
    box-shadow: 1px 1px 1px 1px black;


}

.btn-view-all:hover {

    color: white;
    box-shadow: 1px 1px 1px 1px black;
    width: 75px;
}

.home-page-heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.cards_container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    flex-wrap: wrap;
}

.home-cards-item {
    width: 150px;
    border: 3px double #666633;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #e5e5cc;

}

.cards-title {
    display: block;
    text-align: center;
    font-weight: bold;
}

.cards-days p {
    display: block;
    text-align: center;
    margin: 8px;
}   

@media screen and (max-width:600px) {
    .clock-container {
        width: 80%;
    }

    .home-page-heading {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 10px;
        font-size: 26px;
    }

     .home-card-container-item {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

     

    .home-card-container-item h3{
        font-size: 26px;
    }

    .home-card-img{
        height: 80px;
        margin-left: 10px; 
    } 

    .home-cards-item {
    width:30%;
    margin: 10px;
    font-size: 20px;
    }
}