.input-email{
    margin-left: 49px;
}

.input-password{
    margin-left: 24px;
}

.input-dob{
    margin-left: 61px;
}

.input-joining{
  margin-left: 9px;
}

.input-experience{
    margin-left: 15px;  
}

.input-position{
    margin-left: 32px;
}

.input-profile{
    margin-left: 13px;
} 

/* .body{
    background-image: url('./logo2.png');
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
 backdrop-filter: blur(10px);
 background-color: transparent;
} */