* {
    text-decoration: none;
    margin: 0;
}

.nav-bar-container {
    background-color: #07363c;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: #e4c19d 2px solid;
}

.profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}


.profile-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;

}

.user-name {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #e4c19d;

}

.list-container {
    display: flex;
}

.list {
    margin: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    color: #e4c19d;
    text-decoration: none;
}

.logout-btn {
    position: fixed;
    right: 10px;
    font-size: 25px;
    background-color: #0251a5;
    padding: 5px 30px;
}

.L-btn {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

}

.mobile-menu-container {
    display: none;
}

.item-logo {
    height: 80px;
    padding: 0 20px;


}


@media screen and (max-width: 600px) {
    .nav-bar-container {
        padding: 20px 5px;
        justify-content: space-evenly;
    }

    .list-container {
        display: none;
    }

    .mobile-menu-container {
        display: flex;
        padding: 0;
        display: flex;
        align-items: center;

    }

    .item-logo {
        height: 40px;
        padding: 0 10px;
    }

    .logo {
        height: 45px;
        width: 45px;
    }
    
    .list {
        margin: 5px 0px;
        
    }



}


/* 
#07363c
#05505a
#8c9484
#e4c19d
 */